In [ ]:
## An E-commerce website manages its data in the form of various tables.

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector
import pandas as pd

In [ ]:

connection = mysql.connector.connect(host ="localhost",
                                  user ="root",
                                  passwd ="Mysq@root1",
                                  database = "e-commerce2")
cursorObject = connection.cursor()
#cursorObject.execute("CREATE DATABASE e-commerce2")
#connection.close()

In [ ]:
##Q1. Create tables

In [ ]:
table_creation_query ="""
create table if not exists `supplier`(
`SUPP_ID` INT primary key,
`SUPP_NAME` varchar(50) ,
`SUPP_CITY` varchar(50),
`SUPP_PHONE` varchar(20)
);

CREATE TABLE IF NOT EXISTS `customer` (
  `CUS_ID` INT NOT NULL,
  `CUS_NAME` VARCHAR(20) NULL DEFAULT NULL,
  `CUS_PHONE` VARCHAR(20),
  `CUS_CITY` varchar(30) ,
  `CUS_GENDER` CHAR,
  PRIMARY KEY (`CUS_ID`));
  
  

CREATE TABLE IF NOT EXISTS `category` (
  `CAT_ID` INT NOT NULL,
  `CAT_NAME` VARCHAR(20) NULL DEFAULT NULL,
 
  PRIMARY KEY (`CAT_ID`)
  );


  CREATE TABLE IF NOT EXISTS `product` (
  `PRO_ID` INT NOT NULL,
  `PRO_NAME` VARCHAR(20) NULL DEFAULT NULL,
  `PRO_DESC` VARCHAR(60) NULL DEFAULT NULL,
  `CAT_ID` INT NOT NULL,
  PRIMARY KEY (`PRO_ID`),
  FOREIGN KEY (`CAT_ID`) REFERENCES category (`CAT_ID`)
  
  );
  
  
 CREATE TABLE IF NOT EXISTS `product_details` (
  `PROD_ID` INT NOT NULL,
  `PRO_ID` INT NOT NULL,
  `SUPP_ID` INT NOT NULL,
  `PROD_PRICE` INT NOT NULL,
  PRIMARY KEY (`PROD_ID`),
  FOREIGN KEY (`PRO_ID`) REFERENCES product (`PRO_ID`),
  FOREIGN KEY (`SUPP_ID`) REFERENCES supplier (`SUPP_ID`)
  
  );
  
  CREATE TABLE IF NOT EXISTS `orders` (
  `ORD_ID` INT NOT NULL,
  `ORD_AMOUNT` INT NOT NULL,
  `ORD_DATE` DATE,
  `CUS_ID` INT NOT NULL,
  `PROD_ID` INT NOT NULL,
  PRIMARY KEY (`ORD_ID`),
  FOREIGN KEY (`CUS_ID`) REFERENCES customer (`CUS_ID`),
  FOREIGN KEY (`PROD_ID`) REFERENCES product_details (`PROD_ID`)
  );
  
  
CREATE TABLE IF NOT EXISTS `rating` (
  `RAT_ID` INT NOT NULL,
  `CUS_ID` INT NOT NULL,
  `SUPP_ID` INT NOT NULL,
  `RAT_RATSTARS` INT NOT NULL,
  PRIMARY KEY (`RAT_ID`),
  FOREIGN KEY (`SUPP_ID`) REFERENCES supplier (`SUPP_ID`),
  FOREIGN KEY (`CUS_ID`) REFERENCES customer (`CUS_ID`)
  );"""

cursorObject.execute(table_creation_query, multi=True)

In [ ]:
connection.close()
connection = mysql.connector.connect(host ="localhost",
                                  user ="root",
                                  passwd ="Mysq@root1",
                                  database = "e-commerce2")
cursorObject = connection.cursor()

In [ ]:
##Q2. Insert

In [ ]:
# insert into "supplier" table
insert_query = "INSERT INTO supplier (SUPP_ID,SUPP_NAME,SUPP_CITY,SUPP_PHONE) VALUES (%s, %s, %s, %s)"

val = [(1,"Rajesh Retails","Delhi",'1234567890'),
      (2,"Appario Ltd.","Mumbai",'2589631470'),
      (3,"Knome products","Banglore",'9785462315'),
      (4,"Bansal Retails","Kochi",'8975463285'),
      (5,"Mittal Ltd.","Lucknow",'7898456532')]

cursorObject.executemany(insert_query, val)

connection.commit()

In [ ]:
# insert into "customer" table
insert_query = "INSERT INTO customer (CUS_ID,CUS_NAME,CUS_PHONE,CUS_CITY,CUS_GENDER) VALUES (%s,%s,%s,%s,%s)"

val = [(1,"AAKASH",'9999999999',"DELHI",'M'),
       (2,"AMAN",' 9785463215',"NOIDA",'M'),
       (3,"NEHA",'9999999998',"MUMBAI",'F'),
       (4,"MEGHA",'9994562399'," KOLKATA",'F'),
       (5,"PULKIT",'7895999999',"LUCKNOW",'M')]

cursorObject.executemany(insert_query, val)
connection.commit()

In [ ]:
# insert into "categoty" table
## Inserting Values into "category" table

insert_query = "INSERT INTO category (CAT_ID,CAT_NAME) VALUES (%s,%s)"
val = [(1,"BOOKS"),
        (2,"GAMES"),
         (3,"GROCERIES"),
        (4 ,"ELECTRONICS"),
        (5 ,"CLOTHES")]
cursorObject.executemany(insert_query, val)
connection.commit()

In [ ]:
# insert into "product" table
## Inserting Values into "product" table

insert_query = "INSERT INTO product (PRO_ID,PRO_NAME,PRO_DESC,CAT_ID) VALUES (%s,%s,%s,%s)"
val = [(1,"GTA V"," DFJDJFDJFDJFDJFJF",2),
        (2,"TSHIRT","DFDFJDFJDKFD",5),
         (3,"ROG LAPTOP","DFNTTNTNTERND",4),
        (4 ,"OATS","REURENTBTOTH",3),
        (5 ," HARRY POTTER ","NBEMCTHTJTH ",1)]
cursorObject.executemany(insert_query, val)
connection.commit()

In [ ]:
# insert into "product_details" table
## Inserting Values into "product_details" table

insert_query = "INSERT INTO product_details (PROD_ID,PRO_ID,SUPP_ID,PROD_PRICE) VALUES (%s,%s,%s,%s)"
val = [(1,1,2,1500),
        (2,3,5,30000),
         (3,5,1,3000),
        (4 ,2,3,2500),
        (5 ,4,1,1000)]
cursorObject.executemany(insert_query, val)
connection.commit()

In [ ]:
# insert into "orders" table
## Inserting Values into "orders" table

insert_query = "INSERT INTO orders (ORD_ID,ORD_AMOUNT,ORD_DATE,CUS_ID,PROD_ID) VALUES (%s,%s,%s,%s,%s)"

val = [(20,1500,2021-10-12,3,5),
        (25,30500,2021-9-16,5,2),
         (26,2000,2021-10-5,1,1),
        (30 ,3500,2021-8-16,4,3),
        (50 ,2000,2021-10-6,2,1)]

cursorObject.executemany(insert_query, val)
connection.commit()

In [ ]:

# insert into "rating" table
## Inserting Values into "rating" table

insert_query = "INSERT INTO rating (RAT_ID, CUS_ID, SUPP_ID, RAT_RATSTARS) VALUES (%s,%s,%s,%s)"
val = [(1,2,2,4),
       (2,3,4,3),
       (3,5,1,5),
       (4,1,3,2),
       (5,4,5,4)]

cursorObject.executemany(insert_query, val)
connection.commit()

In [ ]:
##query3

In [ ]:
Query3 = """select customer.cus_gender,count(customer.cus_gender) as count
            from customer inner join `orders` on customer.cus_id=`orders`.cus_id
            where `orders` .ord_amount>=3000 group by customer.cus_gender;"""
            
cursorObject.execute(Query3)
output = cursorObject.fetchall()
      
      ## Lets put the output of this query in pandas DataFrame
output_df = pd.DataFrame(output, columns=['CUS_GENDER','COUNT'])
output_df

In [ ]:
##q4

In [ ]:

Query4= """select `orders`.*,product.pro_name
            from `orders` ,product_details,product
            where `orders`.cus_id=2 and `orders`.prod_id=product_details.prod_id and
            product_details.pro_id=product.pro_id;"""
            
      cursorObject.execute(Query4)
      
    output = cursorObject.fetchall()
      
      ## Lets put the output of this query in pandas DataFrame
      output_df = pd.DataFrame(output, columns=['PRO_NAME','CUS_ID=2'])
    output_df

In [ ]:
#q5

In [ ]:
Query5=    """select supplier.*
                from supplier,product_details
                where supplier.supp_id in
                (select product_details.supp_id from product_details
                group by product_details.supp_id having count(product_details.supp_id)>1)
                group by supplier.supp_id;"""
  cursorObject.execute(Query5)
output = cursorObject.fetchall()
      ## Lets put the output of this query in pandas DataFrame
      output_df = pd.DataFrame(output, columns=['product_details']
      output_df

In [ ]:
##q6

In [ ]:
Query6= """select category.*
                    from 'orders' inner join product_details on 'orders' .prod_id=product_details.prod_id
                    inner join product on product.pro_id=product_details.pro_id
                    inner join category on category.cat_id=product.cat_id having min('orders' .ord_amount);"""

     cursorObject.execute(Query6)
      output = cursorObject.fetchall()
      
      ## Lets put the output of this query in pandas DataFrame
    output_df = pd.DataFrame(output, columns=['ord_amount']
     output_df

In [ ]:
#q7

In [ ]:
Query7="""select product.pro_id,product.pro_name
            from 'orders' inner join product_details on product_details.prod_id='orders' .prod_id
            inner join product on product.pro_id=product_details.pro_id where 'orders'.ord_date>"2021-10-05";"""

 cursorObject.execute(Query7)
      output = cursorObject.fetchall()
      
      ## Lets put the output of this query in pandas DataFrame
    output_df = pd.DataFrame(output, columns=['PRO_ID','PRO_NAME'])
     output_df

In [ ]:
#q8

In [ ]:
 query8="""select supplier.supp_id,supplier.supp_name,customer.cus_name,rating.rat_ratstars
        from rating inner join supplier on rating.supp_id=supplier.supp_id
        inner join customer on rating.cus_id=customer.cus_id order by rating.rat_ratstars desc limit 3;"""

 cursorObject.execute(Query8)
      output = cursorObject.fetchall()
           ## Lets put the output of this query in pandas DataFrame
    output_df = pd.DataFrame(output, columns=['SUPP_ID','SUPP_NAME','CUS_NAME'])
     output_df

In [ ]:
#q9

In [ ]:
query9="""select customer.cus_name ,customer.cus_gender
        from customer where customer.cus_name like 'A%' or customer.cus_name like '%A';"""

 cursorObject.execute(Query9)
      output = cursorObject.fetchall()
           ## Lets put the output of this query in pandas DataFrame
    output_df = pd.DataFrame(output, columns=['CUS_NAME','CUS_GENDER'])
    output_df

In [ ]:
#q10

In [ ]:
query10="""select sum('orders' .ord_amount) as Amount
            from 'orders' inner join customer on 'orders' .cus_id=customer.cus_id where customer.cus_gender='M';"""


 cursorObject.execute(Query10)
      output = cursorObject.fetchall()
           ## Lets put the output of this query in pandas DataFrame
    output_df = pd.DataFrame(output, columns=['orders','ORD_AMT'])
    output_df

In [ ]:
#q11

In [ ]:
Query11="""select * from customer left outer join 'orders' on customer.cus_id='orders' .cus_id;"""


 cursorObject.execute(Query11)
      output = cursorObject.fetchall()
           ## Lets put the output of this query in pandas DataFrame
    output_df = pd.DataFrame(output, columns=['CUS_ID','ORDERS'])
    output_df